**/target
**/.vscode/
.env
*.tfvars
*.auto.tfvars
**/.terraform/
.terraform.lock.hcl
*.backup
*.tfstate
**/src/generated/
app-service/proto/src/auth.rs
auth-service/proto/src/auth.rs
app-service/proto/src/generated/
auth-service/proto/src/generated/
